@import "../bootstrap/variables.less";
//custom basic color
@brand-primary: #358BFF;
@brand-success: #67C23A;
@brand-info: #2DB7F5;
@brand-warning: #E6A23C;
@brand-danger: #FF756F;
@brand-gray: #c2c2c2;
@brand-laxative: #B3EE3A;

@theme-color: #1b2a9d;
@theme-background: #fafafa;

//左侧的主题图标导航栏宽度。
@subject-icon-bar-width: 50px;



//Sidebar width
@sidebar-width: 170px;

// Boxed layout width
@boxed-width: 1200px;

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #2F4050;
@nav-text-color: #a7b1c2;


@top-navigation-height: 45px;

@app-color-title: #474747;
@app-color-content: #8A8A8A;

//上方导航栏高度
@frame-header-height: 80px;

//下方蓝眼云盘高度
@power-footer-height: 40px;


