@import "../assets/css/global/variables";

.pages-frame {

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;


  .pages-frame-inner {
    width: 100%;
    height: 100%;


    //旁边布局
    .layout-side {

      @nav-text-color: white;
      @font-highlight-color: #ddd;
      @left-border-color: @brand-primary;

      transition: all 0.4s;

      position: fixed;
      width: @sidebar-width;

      left: -@sidebar-width;
      top: 0;
      bottom: 0;
      z-index: 1000;

      background: #001529;

      &.show-drawer {
        left: 0;
      }

      .avatar-area {
        text-align: center;
        margin-top: 40px;
      }

      .username-area {
        padding: 10px 20px;
        text-align: center;
        color: #bbb;

        .username-text {
          color: #bbb;
          font-size: 16px;
        }
      }


      .install-area {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

        .install-logo {
          width: 80px;
        }
      }
    }

  }

  .layout-top {

    height: @top-navigation-height;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    left: @sidebar-width;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;

    //手机屏幕
    @media (max-width: @screen-xs-max) {
      padding-left: 0;
    }

    .logo-title-area {

      display: flex;
      flex-direction: row;
      align-items: center;
      height: @top-navigation-height;

      cursor: pointer;

      .header-logo {
        width: 30px;
      }

      .header-title {
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
      }
    }

    .drawer-trigger {
      height: @top-navigation-height;
      line-height: @top-navigation-height;
      font-size: 24px;
      padding-right: 15px;
    }

    //小屏幕
    @media (min-width: @screen-sm-min) {
      .drawer-trigger {
        //display: none;
      }
    }

  }


  .layout-content {

    position: fixed;
    left: @sidebar-width;
    top: @top-navigation-height;
    right: 0;
    bottom: @power-footer-height;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;

    padding: 10px;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    background-color: #f3f3f4;

    //大屏幕
    @media (min-width: @screen-sm-min) {
      left: @sidebar-width;
    }
    //小屏幕
    @media (max-width: @screen-xs-max) {
      left: 0;
      bottom: 0;
    }

    &.show-drawer {
      //大屏幕
      @media (min-width: @screen-sm-min) {
        left: @sidebar-width;
      }

      //小屏幕
      @media (max-width: @screen-xs-max) {
        left: 0;
        bottom: 0;
      }
    }
  }


}
